---
import Counter from '@/components/Counter';
import Layout from '@/layouts/Layout.astro';
import Portada from '@/components/Portada.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col w-full items-center gap-2">
		<Portada />
		<Counter client:only />
	</main>
</Layout>

